.bg {
  background: url("/general-info.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.blur {
  filter: blur(15.6px);
  background: linear-gradient(#687d96  -0.68%, #09566c  109.8%);
}
