.blur {
  background: linear-gradient(155deg, #91a6af 50%, #176694 72%);
  filter: blur(20px);

  @media (max-width: 900px) {
    filter: blur(12px);
  }
}

.title_shadow {
  text-shadow: 0px 4px 5px #000;
}

.text_border01 {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  /* Black border effect */

  @media(max-width: 768px) {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    /* Black border effect */
  }
}